/* Google Fonts Roboto  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Google Fonts Domine  */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600;700&display=swap');
/* Google Fonts Anek Odia  */
@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@300;400;500&display=swap');
/* Google Font Inter  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

:root {
  --brand-color: #026165;
  --secondary-color: rgba(247, 159, 0, 1);
  --black-color: rgba(47, 47, 47, 0.91);
  --white-color: #fff;
  --light-black: rgba(42, 42, 44, 1);
  --border-color: rgba(0, 0, 0, 0.6);
  --para-color: rgba(0, 0, 0, 0.5);
  --banner-gradient: linear-gradient(
    154.18deg,
    rgba(2, 97, 101, 0.47) 0.37%,
    rgba(255, 255, 255, 0) 69.58%
  );

  /* font Families  */
  --robot-font: 'Roboto', sans-serif;
  --domine-font: 'Domine', serif;
  --anek-font: 'Anek Odia', sans-serif;
  --inter-font: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden !important;
  font-family: var(--robot-font);
}
a {
  user-select: none;
}

button:focus,
input:focus {
  outline: none;
  box-shadow: none;
}

/* Typography  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--domine-font);
}
/* Common Classes  */
.container {
  max-width: 1260px !important;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.family-roboto {
  font-family: var(--robot-font);
  font-weight: 900;
}
.family-domine {
  font-family: var(--domine-font);
}
.family-inter {
  font-family: var(--inter-font);
}
.text-color {
  color: var(--para-color);
}
.text-shadow {
  text-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25) !important;
}
.input-shadow {
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}
.input-shadow:focus {
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--secondary-color);
}
.lh-lg {
  line-height: 157% !important;
}

.custom-radio {
  border: 1px solid rgba(0, 0, 0, 0.16);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: relative;
}
.custom-radio:checked::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--brand-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-radio:focus {
  outline: none;
  box-shadow: 0 0 4px #000;
}
ul.list {
  list-style-type: none;
}

ul.list li {
  position: relative;
  padding-left: 1.8em;
}

ul.list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  background-image: url('../assets/images/icons/bx-check-circle.png');
  background-repeat: no-repeat;
  background-position: center center;
}

section {
  padding: 60px 0;
}
.heading {
  text-align: center;
  max-width: 720px;
  width: 100%;
  font-family: var(--domine-font);
  white-space: balance;
  line-height: 133% !important;
  letter-spacing: 1.2px;
}
.bg-light {
  background: linear-gradient(
    180deg,
    rgba(246, 244, 238, 0.42) 0%,
    rgba(246, 244, 238, 0.319375) 65.16%,
    rgba(246, 244, 238, 0) 103.4%
  );
}
.red-gradient {
  background: linear-gradient(270deg, #ff3022 48.03%, #ff5222 91.1%);
}

/* Navbar Styles  */
.navbar.scrolled {
  background-color: var(--white-color);
}
.hero-banner {
  background: var(--banner-gradient);
  height: 708px;
}
.form-banner {
  background: var(--banner-gradient);
}
.about-banner {
  background: var(--banner-gradient);
  height: 90vh;
  height: 90svh;
}

.blog-banner,
.course-banner {
  background-image: url(../assets/images/banner/banner-2.png);
  height: 80vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.course-banner {
  height: 70vh;
}

.banner-search-bar {
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.13);
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
}

.course-card {
  background: linear-gradient(
    144.96deg,
    rgba(250, 237, 254, 0.4218) 15.03%,
    rgba(245, 246, 255, 0.74) 79.39%
  );
  box-shadow: 5px 6px 9px 0px rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease-in;
}

.course-card:hover {
  background: var(--secondary-color);
  color: var(--white-color);
}

.classes-card {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1);
  position: relative;
}

.ribbon {
  position: absolute;
  left: -17px;
  top: 23px;
  font-size: 18px;
  height: 20px;
  width: 50px;
  background-color: var(--secondary-color);
  border-radius: 0 8px 8px 0;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.ribbon-2 {
  background-color: var(--brand-color) !important;
}
.classes-card::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-image-source: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0) 50%,
    #1d6751 50%
  );
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, #1d6751 50%);
  height: 16px;
  width: 16px;
  left: -17px;
  top: 42px;
}

.class-2::after {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, #0071db 50%);
}

.font-anek {
  color: var(--light-black);
  font-family: var(--anek-font);
  letter-spacing: 1.2px;
}
.blog-card {
  border-radius: 19px;
  background: #fffafa;
  box-shadow: 0px 5px 12px 4px rgba(0, 0, 0, 0.18);
}
.blog-card img {
  max-width: 392px;
  max-height: 280px;
  width: 100%;
  object-fit: cover;
}
.team-avatar {
  box-shadow: 5px 6px 9px 0px rgba(0, 0, 0, 0.19);
  background: linear-gradient(
    144.96deg,
    rgba(250, 237, 254, 0.4514) 15.03%,
    rgba(245, 246, 255, 0.74) 79.39%
  );
  border-radius: 22px;
  position: relative;
}
.team-avatar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background-color: var(--brand-color);
  border-radius: 22px;
  z-index: 1;
  box-shadow: 5px 6px 9px 0px rgba(0, 0, 0, 0.19);
}
.newsletter {
  background-image: url(../assets/images/stars-bg.png);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.input-group {
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.logo-white {
  position: absolute;
  top: -36px;
  left: 0;
}
.call {
  position: absolute;
  top: 100px;
}
hr {
  border: 1px solid rgba(0, 0, 0, 0.42);
}
.loom-companion-mv3 {
  display: none;
}
.social-icons {
  font-size: 32px;
}
.menu-btn {
  background-image: url(../assets/images/icons/bx-menu.svg);
}
.menu-btn.close {
  background-image: url(../assets/images/icons/bx-x.svg);
}
.course-cart {
  box-shadow: 0px 2px 3.5999999046325684px 2.4000000953674316px
    rgba(0, 0, 0, 0.17);
}

/* Tabs  */
button[data-tabs-target].active {
  color: var(--brand-color);
  border-bottom: 2px solid var(--brand-color);
}

footer .footer-bg {
  background-image: url(../assets/images/banner/footer-bg.png);
  height: 100%;
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Responsive Designs  */

@media (max-width: 640px) {
  section {
    padding: 40px 0;
  }
  .logo-white {
    position: static;
  }
  .call {
    position: static !important;
    margin: 15px 0;
  }
  .social-icons {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  ul.list li::before {
    top: 2px;
    width: 10px;
    height: 10px;
  }
  .mobile-nav {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.4s ease-in, height 0.4s ease-in;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .mobile-nav.active {
    top: 210px;
    height: auto;
  }
  .module-grid {
    grid-template-columns: 1fr;
  }
  .hero-banner {
    height: 70vh;
  }
  .about-banner {
    height: 105vh;
  }
}

@media (min-width: 768px) {
  .navbar.scrolled {
    background-color: var(--white-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .module-grid {
    grid-template-columns: 2fr 1fr;
  }
}
